{% extends 'users/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h3>Edit This Permission</h3>

    {{ form(edit_form) }}

    <a href="{{ path('permission') }}"><i class="fa fa-arrow-left"></i>Back</a>
	  
	  {{ form(delete_form) }}
	
{% endblock %}
