<!DOCTYPE html>
<html>
<head>
	<title>Payroll Homepage</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/employee/css/homepage/bootstrap-3.3.5/css/bootstrap.css')}}">
</head>
<body>
	<div class="container">
		<h2>EdgeWebMedia Payroll System</h2>
		<a href="#"></a>
	</div>
	<script src="{{ asset('bundles/employee/js/homepage/jquery/js/jquery-1.11.3.min.js') }}"></script>
	<script src="{{ asset('bundles/employee/js/homepage/bootstrap-3.3.5/js/bootstrap.js') }}"></script>
</body>
</html>